<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="javascript:void(0);">About me</a></li>
        <li><a href="javascript:void(0);">My works</a></li>
        <li><a href="javascript:void(0);">Contact me</a></li>
      </ul>
    </nav>
    <div id="stage1_intro">
      <h2>Hi,my name is <br>Luke Lew</h2>
      <img class="avatar" src="/images/avatar.png" alt="luke_lew-avatar">
      <p class="intro">a Front-end engineer</p>
      <p class="intro">but love Web-design as well</p>
      <p class="intro">love making something fun on the internet</p>
    </div>
  </body>
</html>
