<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="javascript:void(0);">About me</a></li>
        <li><a href="javascript:void(0);">My works</a></li>
        <li><a href="javascript:void(0);">Contact me</a></li>
      </ul>
    </nav>
    <!-- stage1 -->
    <div id="stage1_intro">
      <h2>Hi,my name is <br>Luke Lew</h2>
      <img class="avatar" src="/images/avatar.png" alt="luke_lew-avatar">
      <p class="intro">a Front-end engineer</p>
      <p class="intro">but love Web-design as well</p>
      <p class="intro">love making something fun on the internet</p>
    </div>

    <!-- stage2 -->
    <div id="stage2_about">
      <h2>About me</h2>
      <p>My major job is  front-end development</p>
      <dl>
        <dt>My skills include:</dt>
        <dd>
          <strong>html/css/js</strong>
          <strong>jQuery/sass</strong>
          <strong>svn/git</strong>
        </dd>
        <dt>I’m wokring hard on:</dt>
        <dd>
          <strong>AngularJS/ES6</strong>
          <strong>nodeJS</strong>
        </dd>
        <dt>I know something about:</dt>
        <dd>
          <strong>PHP/ruby</strong>
        </dd>
        <dt>I used to work at:</dt>
        <dd>
          <ul class="company">
            <li><img src="/images/yidianer-logo.png"></li>
            <li><img src="/images/uniqueway-logo.png"></li>
            <li><img src="/images/hemax-logo.png"></li>
          </ul>
        </dd>
        <dt>In my part time, I love:</dt>
        <dd>
          <strong>playing guitar/rock-roll</strong>
          <strong>swimming/diving</strong>
        </dd>
      </dl>
    </div>
  </body>
</html>
