<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/icon.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jquery-3.1.0.min.js"></script>
  </head>
  <body>
    <!-- stage1 -->
    <div id="stage1_intro">
      <nav>
        <ul>
          <li><a href="#stage2_about">About me</a></li>
          <li><a href="#stage3_works">My works</a></li>
          <li><a href="#contact_me">Contact me</a></li>
        </ul>
      </nav>

      <h2>Hi,my name is <br>Luke Lew</h2>
      <img class="avatar" src="/images/avatar.png" alt="luke_lew-avatar">
      <p class="intro">a Front-end engineer</p>
      <p class="intro">but love Web-design as well</p>
      <p class="intro">love making something fun on the internet</p>
    </div>

    <!-- stage2 -->
    <div id="stage2_about">
      <h2>About me</h2>
      <p>My major job is  front-end development</p>
      <dl>
        <dt>My skills include:</dt>
        <dd>
          <strong>html/css/js</strong>
          <strong>jQuery/sass</strong>
          <strong>responsive design</strong>
          <strong>svn/git</strong>
        </dd>
        <dt>I’m wokring hard on:</dt>
        <dd>
          <strong>AngularJS/ES6</strong>
          <strong>nodeJS</strong>
        </dd>
        <dt>I know something about:</dt>
        <dd>
          <strong>PHP/ruby</strong>
        </dd>
        <dt>I used to work at:</dt>
        <dd>
          <ul class="company">
            <li><img src="/images/yidianer-logo.png"></li>
            <li><img src="/images/uniqueway-logo.png"></li>
            <li><img src="/images/hemax-logo.png"></li>
          </ul>
        </dd>
        <dt>In my part time, I love:</dt>
        <dd>
          <strong>playing guitar/rock-roll</strong>
          <strong>swimming/diving</strong>
        </dd>
      </dl>
      <div id="file"></div>
      <div id="mac"></div>
      <div id="earphone"></div>
    </div>

    <!-- stage3 -->
    <div id="stage3_works">
      <h2>My works</h2>
      <p class="sub_title">I love to try something challenging</p>
      <div id="works_box">
        <figure class="single_work" id="uniqueway_thumb">
          <a href="javascript:void(0);">
            <img src="/images/work1.jpg" alt="uniqueway-thumb">
          </a>
          <figcaption>uniqueway</figcaption>
          <h6>design + development</h6>
        </figure>
        <figure class="single_work" id="hemax_thumb">
          <a href="javascript:void(0);">
            <img src="/images/work2.jpg" alt="hemax-thumb">
          </a>
          <figcaption>hemax</figcaption>
          <h6>development</h6>
        </figure>
        <figure class="single_work" id="yidianer_thumb">
          <a href="javascript:void(0);">
            <img src="/images/work3.jpg" alt="yidianer-thumb">
          </a>
          <figcaption>yidianer</figcaption>
          <h6>design + development</h6>
        </figure>
        <figure class="single_work" id="qr_thumb">
          <a href="javascript:void(0);">
            <img src="/images/work4.gif" alt="hemax QR-code">
          </a>
          <figcaption>hemax QR-code</figcaption>
          <h6>development with AE</h6>
        </figure>
        <figure class="single_work" id="patent_thumb">
          <a href="javascript:void(0);">
            <img src="/images/work5.jpg" alt="patent publishment-thumb">
          </a>
          <figcaption>process monitor</figcaption>
          <h6>development</h6>
        </figure>
        <figure class="single_work" id="zhiyi_thumb">
          <a href="javascript:void(0);">
            <img src="/images/work6.jpg" alt="zhiyiVC-thumb">
          </a>
          <figcaption>zhiyiVC</figcaption>
          <h6>design + development</h6>
        </figure>
      </div>

      <!-- 弹层 -->
      <div id="loader">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
        <p>loading...</p>
      </div>
      <div id="pop_box">
        <img id="big_pic" src="">
      </div>
      <div id="overlay"></div>
    </div>


    <footer id="contact_me">
      <div class="inner clearfix">
        <div class="left">
          <h2>Contact me</h2>
          <p>I’m looking forward some opportunities to work at Australia. </p>
          <p>Feel free to contact me anytime.</p>
        </div>
        <div class="right">
          <ul class="social_platform">
            <li>
              <a class="fb" target="_blank" href="https://www.facebook.com/lukelew313"><i class="icon-facebook"></i></a>
            </li>
            <li>
              <a class="ins" target="_blank" href="https://www.instagram.com/luke_lew313"><i class="icon-instagram"></i></a>
            </li>
            <li>
              <a class="git" target="_blank" href="https://github.com/lukelew"><i class="icon-github"></i></a>
            </li>
            <li>
              <a class="lk" target="_blank" href="https://cn.linkedin.com/in/luke-lu-33309889"><i class="icon-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <h6 class="copyright">copyright© 2016 Luke Lew</h6>
        
      </div>
    </footer>

    <a href="javascript:void(0);" id="back_top"><i class="icon-arrow-up"></i>Top</a>

    
    <script src="/js/index.js"></script>
  </body>
</html>
