<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-ipad-retina.png" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/icon.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jquery-3.1.0.min.js"></script>
  </head>
  <body>
    <!-- stage1 -->
    <div id="stage1_intro">
      <nav>
        <ul>
          <li><a href="#about_me">ABOUT ME</a></li>
          <li><a href="#my_works">MY WORKS</a></li>
          <li><a href="#contact_me">CONTACT ME</a></li>
        </ul>
      </nav>

      <h2>Hi,my name is <br>Luke Lu</h2>
      <img class="avatar" src="/images/avatar.png" srcset="/images/avatar@2x.png 310w" sizes="(-webkit-min-device-pixel-ratio: 2) 310px">
      <p class="intro">I am a Front-end developer.</p>
      <p class="intro">I love Web Design. </p>
      <p class="intro">I am currently seeking opportunities to work in Australia.</p>
    </div>

    <!-- stage2 -->
    <div id="about_me">
      <h2>About me</h2>
      <dl>
        <dt>I am good at:</dt>
        <dd>
          <strong>html / css / Javascript</strong>
          <strong>jQuery / sass</strong>
          <strong>responsive design</strong>
          <strong>svn / git</strong>
        </dd>
        <dt>I’m wokring hard on:</dt>
        <dd>
          <strong>AngularJS / ES6</strong>
          <strong>nodeJS</strong>
        </dd>
        <dt>I know something about:</dt>
        <dd>
          <strong>PHP / ruby</strong>
        </dd>
        <dt>I used to work at:</dt>
        <dd>
          <ul class="company">
            <li><img src="/images/yidianer-logo.png"></li>
            <li><img src="/images/uniqueway-logo.png"></li>
            <li><img src="/images/hemax-logo.png"></li>
          </ul>
        </dd>
        <dt>In my part time, I love:</dt>
        <dd>
          <strong>playing guitar / rock-roll</strong>
          <strong>swimming / diving</strong>
        </dd>
      </dl>
      <div id="file"></div>
      <div id="mac"></div>
      <div id="earphone"></div>
    </div>

    <!-- stage3 -->
    <div id="my_works">
      <h2>My works</h2>
      <div id="works_box">
        <figure class="single_work" id="uniqueway_thumb">
          <a class="pic_link" href="javascript:void(0);">
            <img src="/images/work1.jpg" srcset="/images/work1@2x.jpg 780w" sizes="(-webkit-min-device-pixel-ratio: 2) 780px">
            <i class="icon-zoom-in"></i>
          </a>
          <figcaption>
            <a target="_blank" href="http://www.uniqueway.com">uniqueway<i class="icon-link"></i></a>
          </figcaption>
          <h5>design + development</h5>
          <h6>2014</h6>
        </figure>
        <figure class="single_work" id="hemax_thumb">
          <a class="pic_link" href="javascript:void(0);">
            <img src="/images/work2.jpg" srcset="/images/work2@2x.jpg 780w" sizes="(-webkit-min-device-pixel-ratio: 2) 780px">
            <i class="icon-zoom-in"></i>
          </a>
          <figcaption>
            <a target="_blank" href="http://www.hemax.net">hemax<i class="icon-link"></i></a>
          </figcaption>
          <h5>development</h5>
          <h6>2015</h6>
        </figure>
        <figure class="single_work" id="yidianer_thumb">
          <a class="pic_link" href="javascript:void(0);">
            <img src="/images/work3.jpg" srcset="/images/work3@2x.jpg 780w" sizes="(-webkit-min-device-pixel-ratio: 2) 780px">
            <i class="icon-zoom-in"></i>
          </a>
          <figcaption>
            <a target="_blank" href="http://www.yidianer.com">yidianer<i class="icon-link"></i></a>
          </figcaption>
          <h5>design + development</h5>
          <h6>2013</h6>
        </figure>
        <figure class="single_work" id="qr_thumb">
          <a class="pic_link" href="javascript:void(0);">
            <img src="/images/work4.gif">
            <i class="icon-zoom-in"></i>
          </a>
          <figcaption>hemax QR-code</figcaption>
          <h5>development with AE</h5>
          <h6>2015</h6>
        </figure>
        <figure class="single_work" id="patent_thumb">
          <a class="pic_link" href="javascript:void(0);">
            <img src="/images/work5.jpg" srcset="/images/work5@2x.jpg 780w" sizes="(-webkit-min-device-pixel-ratio: 2) 780px">
            <i class="icon-zoom-in"></i>
          </a>
          <figcaption>process monitor</figcaption>
          <h5>development</h5>
          <h6>2016</h6>
        </figure>
        <figure class="single_work" id="zhiyi_thumb">
          <a class="pic_link" href="javascript:void(0);">
            <img src="/images/work6.jpg" srcset="/images/work6@2x.jpg 780w" sizes="(-webkit-min-device-pixel-ratio: 2) 780px">
            <i class="icon-zoom-in"></i>
          </a>
          <figcaption>zhiyiVC</figcaption>
          <h5>design + development</h5>
          <h6>2015</h6>
        </figure>
      </div>

      <!-- 弹层 -->
      <div id="loader">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
        <p>loading...</p>
      </div>
      <div id="pop_box">
        <img id="big_pic" src="">
      </div>
      <div id="overlay"></div>
    </div>


    <footer id="contact_me">
      <div class="inner clearfix">
        <div class="left">
          <h2>Contact me</h2>
          <p>I’m looking forward to some opportunities to work in Australia. </p>
          <p>Feel free to contact me anytime.</p>
        </div>
        <div class="right">
          <ul class="social_platform">
            <li>
              <a class="mail" href="mailto:ailuqun313@gmail.com"><i class="icon-envelop"></i></a>
            </li>
            <li>
              <a class="fb" target="_blank" href="https://www.facebook.com/lukelew313"><i class="icon-facebook"></i></a>
            </li>
            <li>
              <a class="ins" target="_blank" href="https://www.instagram.com/luke_lew313"><i class="icon-instagram"></i></a>
            </li>
            <li>
              <a class="git" target="_blank" href="https://github.com/lukelew"><i class="icon-github"></i></a>
            </li>
            <li>
              <a class="lk" target="_blank" href="https://cn.linkedin.com/in/luke-lu-33309889"><i class="icon-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <h6 class="copyright">copyright© 2016 Luke Lew</h6>
        
      </div>
    </footer>

    <a href="javascript:void(0);" id="back_top"><i class="icon-arrow-up"></i>Top</a>

    
    <script src="/js/index.js"></script>
  </body>
</html>
