<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-retina.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-ipad-retina.png" />
    <title>users</title>
    <link rel="stylesheet" href="/css/icon.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jquery-3.1.0.min.js"></script>
  </head>
  <body>
    <!-- loading -->
    <div id="loading">
      <span></span>
    </div>
    <!-- stage1 -->
    <div id="stage1_intro">
      <nav>
        <ul>
          <li><a href="#about_me">ABOUT ME</a></li>
          <li><a href="#my_works">MY WORKS</a></li>
          <li><a href="#contact_me">CONTACT ME</a></li>
        </ul>
      </nav>

      <h2>Hi,my name is <br>Luke Lu</h2>
      <img class="avatar" src="/images/avatar.png" srcset="/images/avatar@2x.png 310w" sizes="(-webkit-min-device-pixel-ratio: 2) 310px">
      <p class="intro">I am a Front-end developer.</p>
      <p class="intro">I love Web Design. </p>
      <p class="intro">I am currently seeking opportunities to work in Australia.</p>
    </div>

    <!-- stage2 -->
    <div id="about_me">
      <h2>About me</h2>
      <dl>
        <dt>I am good at:</dt>
        <dd>
          <strong>html / css / Javascript</strong>
          <strong>jQuery / sass</strong>
          <strong>responsive design</strong>
          <strong>svn / git</strong>
        </dd>
        <dt>I’m wokring hard on:</dt>
        <dd>
          <strong>AngularJS / ES6</strong>
          <strong>nodeJS</strong>
        </dd>
        <dt>I know something about:</dt>
        <dd>
          <strong>PHP / ruby</strong>
        </dd>
        <dt>I used to work at:</dt>
        <dd>
          <ul class="company">
            <li><img src="/images/yidianer-logo.png"></li>
            <li><img src="/images/uniqueway-logo.png"></li>
            <li><img src="/images/hemax-logo.png"></li>
          </ul>
        </dd>
        <dt>In my part time, I love:</dt>
        <dd>
          <strong>playing guitar / rock-roll</strong>
          <strong>swimming / diving</strong>
        </dd>
      </dl>
      <div id="file"></div>
      <div id="mac"></div>
      <div id="earphone"></div>
    </div>

    <a href="javascript:void(0);" id="back_top"><i class="icon-arrow-up"></i>Top</a>

    
    <script src="/js/index.js"></script>
  </body>
</html>
