@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?tfj5kh');
    src:    url('icomoon.eot?tfj5kh#iefix') format('embedded-opentype'),
        url('icomoon.ttf?tfj5kh') format('truetype'),
        url('icomoon.woff?tfj5kh') format('woff'),
        url('icomoon.svg?tfj5kh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eac9";
}

